.app-container {
  display: flex;
  height: 100vh;
  width:100vw;
}

.navbar-section {
  max-width: 26%;
  background-color: #1e1e2f;
  border-right: 2px solid #444;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-header {
  padding: 20px;
  border-bottom: 2px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.navbar-header h1 {
  font-size: 20px;
  font-weight: bold;
}

.chatbot-section {
  max-width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}
